:root {
    --color-scrollbar: #D3D3D4;
    --color-background-scrollbar: #eee;
}

/*SCROLL CHROME*/
.content__page::-webkit-scrollbar {
    width: 28px;
    background-color: transparent;
}

.content__page::-webkit-scrollbar-thumb {
    border: 10px solid transparent;
    box-shadow: none;
    border-radius: 40px;
}

.content__page:hover::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px var(--color-scrollbar);
}

.content__page:hover::-webkit-scrollbar-thumb:hover {
    border: 8px solid trasparent;
    box-shadow: inset 0 0 0 10px var(--color-secondary);
}

.content__page::-webkit-scrollbar-track {
    margin: 40px 0;
}

/*SCROLL TO MOZ*/

.content__page {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) transparent;
}